body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(210, 30, 186);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77d4d4 15px solid;
    width: 100%;
}
header h1 {
    text-align: center;
    margin: 0;
}
header nav {
    text-align: center;
    margin-top: 10px;
}
header nav ul {
    padding: 0;
    list-style: none;
}
header nav ul li {
    display: inline;
    margin: 0 15px;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid transparent;
    transition: background 0.3s, transform 0.3s, color 0.3s, border-color 0.3s;
}
header nav ul li a:hover {
    background: rgb(11, 10, 10);
    color: rgb(0, 255, 179);
    border-color: aqua;
    transform: scale(1.1);
}
h2 {
    background: #fff;
    text-decoration: underline;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 600px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    margin: 20px 0;
}
#default-image {
    display: block;
    width: 500px;
    height: auto;
    margin: 20px 0;
}
main {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
}
.section {
    display: none;
    padding: 20px 0;
    background: #fff;
    margin: 20px 0;
    border-radius: 25px;
    width: 700px;
    text-align: center;
    transition: background-color 0.5s, color 0.5s;
}
.section h1, .section h2 {
    text-align: center;
    margin: 0 0 10px 0;
}
.section p {
    text-align: center;
    line-height: 1.6;
}
.section a {
    color: #333;
    text-align: center;
}
.social {
    text-align: center;
    padding: 20px;
}
.social a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
}
.social i {
    margin-right: 8px;
}
footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
    width: 100%;
    position: relative;
}
footer a {
    color: aliceblue;
}